/* You can add global styles to this file, and also import other style files */
@import '@alicorpdigital/dali-css-library/build/css/themes/theme-alicorp/style.css';

.loginContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}